<!-- ============Footer============ -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <h3>Bigcart</h3>
        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dolores reprehenderit, perspiciatis perferendis
          eius fugit ut iure velit vero consequuntur corrupti deleniti.</p>
      </div>
      <div class="col-3">
        <h3>Quick Links</h3>
        <p class="text-muted">About Company</p>
        <hr>
        <p class="text-muted">Contact</p>
        <hr>
        <p class="text-muted">Catogories</p>
        <hr>
        <p class="text-muted">Our Blog</p>
        <hr>
        <p class="text-muted">Trendy Items</p>
        <hr>
      </div>

      <div class="col-3">
        <h3>Shopping</h3>
        <p class="text-muted">Your Cart</p>
        <hr>
        <p class="text-muted">Wishlist Item</p>
        <hr>
        <p class="text-muted">Collections</p>
        <hr>
        <p class="text-muted">Your Checkout</p>
        <hr>
        <p class="text-muted">Shopping Details</p>
        <hr>
      </div>

      <div class="col-3">
        <h3>News Letter</h3>
        <p class="text-muted mb-4">Sign up for our mailing list to get latest updates and offers</p>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Your Email..." aria-label="Username" aria-describedby="basic-addon1">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Go</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>