/* ============Imports============ */
@import '../../scss/variables';
@import '../../scss/general';

/* ============Order Submit Form============ */
.order-submit{
    padding: 120px 0;
    span{
        border-bottom: 1px solid $primaryColor;        
    }
    button{
        background: $primaryColor;
        border:none;
        &:hover{
            background: $secondaryColor;
        }
    }
}
/* ============Modal============ */
.modal-footer{
    .m-btn{
        background: $primaryColor;
        &:hover{
            background: $secondaryColor;
                
        }
    }
}
