/* ============Imports============ */
@import '../../scss/variables';
@import '../../scss/general';

/* ============Cart Table============ */
.cart-table{
    padding: 120px 0;
    .delete-icon{
        font-size: 30px;
        cursor: pointer;
    }
}
.cart-empty{
    font-size: 120px;
    display: inline-block;
    padding-bottom: 30px;
}
button{
    background: $primaryColor;
    border:none;    
    &:hover{
        background: $secondaryColor;
    }
    a{
        color: $white;
        text-decoration: none;
    }
}
span{
    color: red;
}