/* ============Imports============ */
@import 'variables';
@import 'mixin';

/* ============General============ */
*{
    box-sizing: border-box;
    @include transition-hover(all 0.1s ease-in-out)
}
*:focus,*:active{
    outline: none;
}
button.btn{
    color:$white;
    &:focus{
        @include forShadow(none);
    }
}
button,a{
    border-radius: 0;
    padding: 8px 15px;
    
}
a.btn{
    color: $white;
    text-decoration: none;
    &:focus{
        @include forShadow(none);
    }
}