<!-- ============Main Content============ -->
<main>
  <!-- ============The Fold============ -->
  <section class="jumbotron m-0 d-flex align-items-center">
    <div class="container">
      <h1 class="jumbotron-heading">Always There For You</h1>
      <p class="lead text-muted">Something short and leading about the collection below its contents
        <br>the creator, etc. Make it short.</p>
      <p>
        <a href="#products" class="btn  mr-3">Shopping Now</a>
        <a routerLink="Cart" class="btn second-btn">Your Order</a>
      </p>
    </div>
  </section>

  <!-- ============Products Cards============ -->
  <section id="products" class="products pt-5 pb-5">
    <h2 class="text-center pt-3 pb-5">
      <span class="pb-2">Our</span> Products</h2>
    <div class="container">
      <div class="row pb-2">
        <div class="col-11 pr-0">

          <!-- ============Search Filter============ -->
          <div class="input-group mb-3">
            <input type="search" name="search" [(ngModel)]="search" class="form-control" placeholder="Search for specific product..."
              aria-label="Username" aria-describedby="basic-addon1">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="icon-search"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-1 text-right pl-0">

          <!-- ============Grid And List Toggle============ -->
          <div class="btn-group btn-group-toggle grid-list">
            <label class="btn-primary" ngbButtonLabel>
              <input type="checkbox" ngbButton [(ngModel)]="mode">
              <i *ngIf="mode==true" class="icon-th-large"></i>
              <i *ngIf="mode==false" class="icon-th-list"></i>
            </label>
          </div>
        </div>
      </div>

      <!-- ============Grig View============ -->
      <div class="card-deck" *ngIf="mode==false">
        <div class="col-md-4 col-12" *ngFor="let prop of checkData | filter:'name':search">
          <div class="card mb-4 mx-0">
            <span class="top-line"></span>
            <a class=" p-0 m-0" routerLink="/Product/{{prop.name}}">
              <img class="card-img-top img-fluid" src="{{prop.img}}" alt="Card image cap">
            </a>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 ">
                  <h4 class="card-title mb-1">{{prop.name}}</h4>
                </div>
                <div class="col-md-6 text-right">
                  <h5 class="card-text">{{prop.price}}</h5>
                </div>
              </div>
              <p>{{prop.category}}</p>
              <button class="btn " (click)="btnclick(prop.id)">{{prop.button}}</button>
            </div>
          </div>
        </div>
      </div>

      <!-- ============List View============ -->
      <div *ngIf="mode==true">
        <!-- ============content============ -->
        <div class="content-item" *ngFor="let prop of checkData | filter:'name':search">
          <div class="row align-items-center">
            <span class="top-line"></span>
            <!-- ============product============ -->
            <div class="col-8">
              <div class="media">
                <a routerLink="/Product/{{prop.name}}">
                  <img width="250" height="250" class="mr-3 img-fluid" src="{{prop.img}}" alt="Generic placeholder image">
                </a>
                <div class="media-body align-self-center">
                  <h4 class="pb-2">{{prop.name}}</h4>
                  <p>{{prop.category}}</p>
                  <p class="mb-3">{{prop.shortDes}}</p>
                  <button class="btn" (click)="btnclick(prop.id)">{{prop.button}}</button>
                </div>
              </div>
            </div>
            <!-- ============price============ -->
            <div class="col-4">
              <h5 class="text-center">{{prop.price}}</h5>
            </div>
          </div>
          <hr>
        </div>
      </div>

    </div>
  </section>
</main>